<div class="container">
    <div class="row mt-3 text-center">
        <div class="col-12">
            <h1>Esqueci minha senha</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/auth/forgot-password" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <button class="btn btn-primary" type="submit">Enviar link de redefinição</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>