<div class="container">
    <div class="row mt-3 text-center">
        <div class="col-12">
            <h1>Redefinir senha</h1>
        </div>
    </div>
    <div class="row mt-3">
        {{#if tokenValid}}
            <div class="col-4"></div>
            <div class="col-4">
                <form action="/auth/reset-password/{{token}}" method="post">
                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirme sua senha</label>
                        <input type="password" class="form-control" name="password2" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Redefinir senha</button>
                </form>
            </div>
            <div class="col-4"></div>
        {{else}}
            <p>Se o link for inválido ou tiver expirado, por favor, <a href="/auth/forgot-password">solicite um novo.</a></p>
        {{/if}}
    </div>
</div>