<div class="container">
  <div class="row mt-3 text-center">
    <h1>Escolher importação</h1>
  </div>
  <div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="/sample/pre-classification" method="post">
        <select class="form-select" name="importId" required>
          {{#each importIdsArray}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <button class="btn btn-primary mt-3" type="submit">Visualizar amostras</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>